src/main/mule/githubpoc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1080fecc-8e9d-4e0a-9145-307d65f9dc00" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="githubpocFlow" doc:id="ff1440be-a37f-437a-8d2c-5aeb5db21b01" >
		<http:listener doc:name="Listener" doc:id="e30cf89d-f596-4311-9828-0bbabb138173" config-ref="HTTP_Listener_config" path="/github"/>
		<set-payload value="hello world" doc:name="Set Payload" doc:id="7aa4bd72-510f-4968-a5f3-dea0f2e12ad0" />
		<logger level="INFO" doc:name="Logger" doc:id="2a0e7aaf-e00b-4e73-a180-cc57b1dffd3b" message="#[payload]"/>
		<async doc:name="Async" doc:id="2d2b6e9d-51ea-410d-99c0-103dd9119e13" >
			<logger level="INFO" doc:name="Logger" doc:id="dee6334a-b02e-421e-a305-b361372de8c8" />
			<logger level="INFO" doc:name="Logger" doc:id="5c686611-ca1f-4cda-910f-f5026aa96b97" />
			<logger level="INFO" doc:name="Logger" doc:id="7b8c8ee7-7112-4e2c-bbde-d4055d1efd3a" />
		</async>
		<ee:transform doc:name="Transform Message" doc:id="e7cacbc5-5e44-4ba7-9188-406790d69318" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
