src/main/mule/select-database-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="32cdf248-2137-47f2-81fb-35d8889e3ead" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="432960ae-3c37-4038-817a-e3d90b4ad35c" >
		<db:my-sql-connection host="localhost" port="3306" user="root" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="edd937d0-4030-4b51-95bd-a02b74761038" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Mannu@786" database="mannu" />
	</db:config>
	<flow name="select-database-pocFlow" doc:id="d100bcf6-3cdc-4887-bd7f-969e27b58286" >
		<http:listener doc:name="Listener" doc:id="20628ba2-ec22-435c-adff-f016b0a1bec9" config-ref="HTTP_Listener_config" path="/select"/>
		<db:select doc:id="015fb48d-c33b-4bb0-8ae2-0c6798be22e8" config-ref="Database_Config1">
			<db:sql ><![CDATA[select * from statedetails limit 10]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="c53e8871-bbfa-4d77-a512-819f0fe65bec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a298dff0-dc7b-40d4-bf55-e95f487a769b" message="#[payload]"/>
		<file:write doc:id="bfaab2c0-ab75-4769-bfd8-13d7de3c845c" path="C:\Users\Rj\Desktop\abc.txt"/>
	</flow>
</mule>
